
.MainContainer{
    /* border: 2px solid  red; */
     width: 100vw;
     height: 115vh;
    background: lightgray ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    /* border: 2px solid  green; */
    display: flex; 
    width: 45%;
    height: 51%;
    background: #F5F5F5 ;
    border-radius: 21px;
    opacity: 1;
    justify-content: center;

}
.ImgContainer{
    /* border: 2px solid  red; */
    display: flex; 
    flex-direction: column;
    width: 80%;
    height: 100%;
    background: #F5F5F5 ;
    border-radius: 21px;
    opacity: 1;
    justify-content: center;
    /* align-items:flex-start; */

}
#imgIcon{
    /* border: 2px solid pink; */
    border-radius: 140px;
    width: 245px;
    height: 245px;
    opacity: 1;

}
.Name{
/* border: 2px solid red; */
width: 209px;
height: 24px;
text-transform: uppercase;
text-align: left;
color: #0A0102;
font-family: Roboto;
font-style: normal;
display: flex;
align-items: flex-end;
}

.loginSignupContainer{

    width: 30%;
    height: 56%;
    position: relative;
    right:20%;
    border: 1px solid #E4E4E4;
    background: #FFFFFF ;
    border-radius: 6px;
    box-shadow: 0px 5px 15px #00000029;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginSignupContainer2{
    /* border: 2px solid green; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HeadNames{
    /* border: 2px solid green; */
    display: flex;
    width:230px;
     height: 30px;
    justify-content: space-between;
    text-transform: uppercase;
    color: #0A0102;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
}
.Components{
 /* border: 4px solid pink; */
 width:400px;
 height: 340px;
 display: flex;
 justify-content: center;
}

@media only screen and (max-device-width: 400px)  {
    .MainContainer{
        /* border: 2px solid  red; */
        }
    .imgContainer{
        /* border: 2px solid  green; */
        display: none;
        
    }
    .Components{
        /* border: 2px solid blue; */
        min-width:300px;
        min-height: 290px;
        display: flex;
        justify-content: center;
       }
       
          .loginSignupContainer{
        /* border: 2px solid  red; */
       width: 95%;
        height: 56%;
        display: flex;
        justify-content: center;
        position: relative;
        left:1px;
    }
}
@media only screen and (min-device-width:400px) and (max-device-width: 700px)  {
    .MainContainer{
        /* border: 2px solid  violet; */
        }
    .imgContainer{
        /* border: 2px solid  green; */
        display: none;
        
    }
    .Components{
        /* border: 2px solid yellow; */
        min-width:300px;
        min-height: 420px;
        display: flex;
        justify-content: center;
       }
       
          .loginSignupContainer{
        /* border: 2px solid lightseagreen; */
       width: 95%;
        height: 56%;
        display: flex;
        justify-content: center;
        position: relative;
        left:1px;
    }  
}
@media only screen and (min-device-width:700px) and (max-device-width: 1000px)  {
    .MainContainer{
        /* border: 2px solid  burlywood; */
        }
    .imgContainer{
        /* border: 2px solid  green; */
        display: none;
        
    }
    .HeadNames{
        /* border: 2px solid green; */
        display: flex;
        width:530px;
         height: 50px;
         font-size: 40px;
    }
    
    .Components{
        /* border: 2px solid black; */
        min-width:700px;
        min-height: 800px;
       }
       
    .loginSignupContainer{
        /* border: 2px solid greenyellow; */
       width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        position: relative;
        left:1px;
    }
}
@media only screen and (min-device-width:1000px) and (max-device-width: 1100px ) and (min-device-height:1366px)  {
    .MainContainer{
        /* border: 2px solid  burlywood; */
        }
    .imgContainer{
        /* border: 2px solid  green; */
        display: none;
        
    }
    .HeadNames{
        /* border: 2px solid green; */
        display: flex;
        width:650px;
         height: 80px;
         font-size: 53px;
    }
    
    .Components{
        /* border: 2px solid black; */
        min-width:750px;
        min-height: 1100px;
       }
       
    .loginSignupContainer{
        /* border: 2px solid greenyellow; */
       width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        position: relative;
        left:1px;
    }
}