/* .mains{
    border: 2px solid red ;
    width: 100vw;
    height: 162vh;
    display: flex;
    justify-content: center;
    
     
} 
.BookContainer{
    border: 2px solid blue;
     width: 77%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
} */
.Books{
    border: 1px solid lightgray;
    width: 210px;
    height:240px;
    margin-top: 30px;
    border-radius: 2px 2px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.img{
    /* border: 2px solid blue; */
    width: 210px;
    height:140px;
    display: flex;
    background: #F5F5F5 ;
    align-items: center;
    justify-content: center;
} 
#bookimg{
    /* border: 2px solid red; */
    height:100px;
 
}

.bookinfo{

   /* border: 2px solid blue; */
    width: 200px;
    height:100px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.BookRatings{
    display: flex;
}
.name{
    height: 30px;
    padding-top: 0px;
       /* border: 2px solid blue; */
       font-size: 13px;
       font-weight: bold;
       display: flex;
       justify-content: center;
}
.RatingPoints{
           /* border: 2px solid blue; */
           width: 20px;
           height: 17px;
           color: white;
           background-color: green;
           
}