.mainOrderSummery{
    /* border: 3px solid pink; */
    width:55vw;
    min-height:35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.summery{
        /* border: 2px solid red; */
        font-size: 20px;
        color: #333232;
        font-weight: bold;
        opacity: 1;
        align-self: flex-start;
    
}
.OrderBooks1{
    /* border: 3px solid  green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:30%;
    min-height:40%;
}
.OrderBookInfo{
    
    /* border: 2px solid red; */
    height:90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    font-size: 14px;
    justify-content: space-between;
    /* align-content: flex-start; */
    align-items: flex-start;

}
.OrderNameOfBook, .OrderActaulpriceOne{
 /* border :2px solid red; */
 font-size: 14px;
 font-weight: bold;

}
.OrderPriceOne{
    display: flex;
}

.checkoutbutton{
     border: 2px solid red;
     width: 150px;
     height: 35px;
     color: white;
     display: flex;
     align-content: flex-end;
     justify-content: center; 
     align-items: center;
     margin-left: 600px;
     /* align-self: flex-end;  */
     background: #3371B5 0% 0% no-repeat padding-box;
     border-radius: 3px;
}