.mainOrderedSection{
    /* border:2px solid red; */
    width:100vw;
    height:120vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.orderPlacedMain{
    /* border:2px solid blue; */
    display: flex;
    width:100%;
    height:75%;
    flex-direction: column;
    align-items: center;
}
.OrderPlacedSection{
  /* border:4px solid  gold; */
  width:70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.successfullimage{
    width:200px;
    height:200px;
}
.imageSection{
    /* border:2px solid blue; */
    width:100%;
    height:40%;
}
.ConformedSection{
    /* border:2px solid blue; */

}

.tableSection1{
    /* border:2px solid blue; */
   width: 100%;
  display: flex;
}
.Table  {
    width: 100%;
    border:1px solid black;
    
  }
  
  .th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.continueshopping{
    width: 150px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px;

    }
